<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Emmy Winning TV Shows - {{ show }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style8.css') }}">
</head>
<body>

<div id="container">

<h1> Show: {{ show }} </h1>
<p> Network: {{ network }} </p>
<p> Emmy Category: {{ category }} </p>

<p><a href="{{ url_for('index') }}">Return to list</a></p>


</div>

</body>
</html>
