<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Emmy Winning TV Shows </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style7.css') }}">
</head>
<body>

<div id="container">

  <h1>Emmy Award Winning TV Shows</h1>
  <p> This is a list of TV shows that have won Emmy Awards in the past few years.</p>
  <ul>
    {% for pair in pairs %}
    <li> <a href="{{ url_for('detail', id=pair[0] ) }}"> {{ pair[1] }} </a> </li>
    {% endfor %}
  </ul>

</div>

</body>
</html>
